
API_Server/.DS_Store
API_Server/src/.DS_Store
API_Server/src/main/java/com/oc/api_server/Service/Security.java
app/app/src/main/java/com/app/or/Hide/Abbr.java
app/app/src/main/java/com/app/or/Universal/Security.java
API_Server/src/main/resources/application.properties
