<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oc.api_server.Repository.ReviewRepository">
    <insert id="SaveReview" parameterType="Review">
        insert into review
        values
            (
                NEXTVAL('user_id'),
                #{title},
                #{preview},

                #{main},
                #{image_txt},

                #{address},
                #{x},
                #{y},

                #{review_type},
                #{guarantee},
                #{money},

                #{good},

                #{review_owner},

                #{owner_rating},
                #{size_room},
                #{noise},
                #{service},
                #{hygiene},
                #{safety},
                #{temperature},

                now()
            )
    </insert>

    <select id="getReview" resultType="Review">
        select * from review WHERE s.id = #{id}
    </select>
</mapper>