<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oc.api_server.Repository.SimpleReviewRepository">
    <select id="getCurrent" resultType="SimpleReview">
        select * from simple_review order by id LIMIT 20;
    </select>
    <select id="getList" resultType="SimpleReview">
        <![CDATA[
        select * from simple_review s WHERE s.id < #{id} order by id LIMIT 20;
        ]]>
    </select>

    <select id="getCurrentListByPlace" resultType="SimpleReview">
        select * from simple_review WHERE s.address = #{place} order by id  LIMIT 20;
    </select>
    <select id="getListByPlace" resultType="SimpleReview">
        <![CDATA[
        select * from simple_review s WHERE s.address = #{place} and s.id < #{id} order by id LIMIT 20;
        ]]>
    </select>

    <select id="getCurrentListByRating" resultType="SimpleReview">
        select * from simple_review order by owner_rating LIMIT 20;
    </select>
    <select id="getListByRating" resultType="SimpleReview">
        <![CDATA[
        select * from simple_review WHERE s.id < #{id} order by owner_rating LIMIT 20;
        ]]>
    </select>

    <select id="getMyList" resultType="SimpleReview">
        select * from simple_review WHERE s.review_owner = #{id};
    </select>

    <insert id="saveReview" parameterType="SimpleReview">
        insert into simple_review
        values
            (
                #{id},
                #{title longtext},
                #{preview},

                #{is_image},
                #{simple_image},

                #{address},
                #{x},
                #{y},

                #{review_type},
                #{guarantee},
                #{money},
                #{management},

                #{good},

                #{review_owner},

                #{owner_rating}
            );
    </insert>
</mapper>