<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oc.api_server.Repository.UserRepository">
    <insert id="CreateUser">
        INSERT INTO or_user
            VALUES (NEXTVAL('user_id'),#{email},#{nickname},#{pw},#{use_agree},#{security_agree},#{marketing_agree},#{age_agree},#{uni_code});
    </insert>

    <delete id="DeleteUser">
        DELETE FROM or_user WHERE id = #{uid};
    </delete>

    <select id="findByEmail" resultType="OrUser">
        SELECT * FROM or_user WHERE email = #{email};
    </select>

    <update id="SetNickName">
        UPDATE or_user set nickname = #{Want} WHERE id= #{id};
    </update>

    <update id="SetPw">
        UPDATE or_user set pw = #{want} WHERE id= #{id};
    </update>

    <select id="findByNickname" resultType="OrUser">
        SELECT * FROM or_user WHERE nickname = #{Nickname};
    </select>
</mapper>